#loancal{
width:345px;
height:420px;
background-color:white;
color:#fff;
padding:10px;
margin:100px auto;
}
.h1{
font-size:30px;
text-align:center;
color:rgb(9,95,172);
margin-bottom:35px;
}
.input{
margine-left:40px;
margine-right:40px;
}
.p{
color:rgb(17,103,170);
font-size:17px;
}
.input{
width:100%;
height:33%;
}
.h2{
text-align:center;
color:rgb(6,111,139);
margin-bottom:35px;
}